<ion-header>
  <ion-toolbar>
    <ion-title>Registrasi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label position="floating" for="regis-nama">Username</ion-label>
      <ion-input id="regis-nama" type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Konfirmasi Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="regis()">Sign Up</ion-button>



  <ion-button fill="solid" expand="block" color="dark" (click)="cekData()">cek data</ion-button>
</ion-content>