<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">
    </ion-avatar>
    <ion-label>
      <h3>{{user.nama}}</h3>
      <p>{{user.kelas}}</p>
      <p>{{user.walikelas}}</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Jadwal - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
        <ion-col col-6 >
          <div class="title-login">
            <ion-grid style="margin-top: -40px;">
              <ion-row class="ion-align-items-center" style="margin-top: 20px;">

                <ion-col size="7.5" >
                  <ion-searchbar mode="android" animated placeholder="Cari Mata Pelajaran..." debounce=1000 (ionInput)="filterList($event)"></ion-searchbar>
                </ion-col>
            <ion-button class="btn-rekap"> <img src="assets/icon/printer.png" (click)="print()"/></ion-button>

              </ion-row>
            </ion-grid>
          </div>

          <ion-grid style="margin-top: 5px;">
            <ion-row class="tabel tabel">
            
              <ion-col size="4">
                Mata Pelajaran
              </ion-col>
              <ion-col size="4">
               Jam
              </ion-col>
              <ion-col size="4">
              Guru
              </ion-col>
            
            </ion-row>
          </ion-grid>
          <ion-grid *ngFor="let n of mapelList; let i = index">
            <ion-row class="tabel-rekap">
            
              <ion-col size="4">
                {{n.mapel}}
              </ion-col>
              <ion-col size="4">
                {{n.jam}}
              </ion-col>
              <ion-col size="4">
                {{n.guru}}
              </ion-col>
          
            </ion-row>
          </ion-grid>
      
        </ion-col>
      </ion-card>



  </div>
</ion-content>