<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Rui Faqri</h3>
      <p>VIII</p>
      <p>Anya Geraldine</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides2">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div>
                  <p
                    style="font-size: 32px; margin-bottom: -30px; margin-top: -30px; text-align: center; color: black;">
                    Presensi</p>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>


        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="3">
              Nama
            </ion-col>
            <ion-col size="3">
             Tanggal
            </ion-col>
            <ion-col size="3">
              Status
            </ion-col>
            <ion-col size="3">
             Jam
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="3">
             Rui Faqri
            </ion-col>
            <ion-col size="3">
             Senin, 1 Juni 2020
            </ion-col>
            <ion-col size="3" style="color: red;">
              Tidak Hadir
            </ion-col>
            <ion-col size="3">
              10.30
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-button class="btn-ok" (click)="scan()">Scan</ion-button>
    </ion-card>

  </div>
</ion-content>