<ion-header>
  <ion-toolbar>
    <ion-title>presensi-late</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="waktu; else loggedOut">
    Welcome back, friend.
  </div>
  
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template>
</ion-content>
