.login-header{
    background: var(--theme-color)
  
  }
  
  .login-header {
    position: relative;
    background: var(--theme-color);
    border-radius: 0em;
  }
  
  .login-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
  }
  
  .logo-img{
    display: block;
    width: 120px;
    margin: 0 auto;
    text-align: center;
  }
  
  [heading-column-lr]{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
  }
  
  [big-heading]{
    font-family: "Arial" !important;
    font-size: 30px !important;
    color: var(--theme-black);
  }
  
  [transparant]{
    --background: transparant;
  }
  
  ion-input{
    --color: #000;
    --padding-bottom: 15px;
    --padding-size: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-align: 1px;
    padding-left: 10px !important;
  }
  
  [icon-small]{
    width: 30px;;
  }
  
  ion-item{
    --highlight-color-focused:transparant;
    --highlight-height: 0;
    --highlight-color-invalid: #000;
    --highlight-color-valid: #000;
    --min-height: 65px;
    --padding-start: 0;
  }
  
  [linespace]{
    height: 30px;
  }
  
  .bg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .title-login{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-login{
    color: #3670e5;
  }
  
  .konten{
    
    margin-top: 20px;
  }
  
  ion-header {
  
    ion-toolbar, ion-item {
      --background: #0745A2;
     
      padding: 0 10px;
      margin-left: 15px;
    }
  
    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }
    }
  
    ion-item {
      h3 {
        font-weight: 700;
        font-size: 18px;
        color: white;
      }
  
      p {
        font-weight: 500;
        font-size: 14px;
      }
  
      ion-avatar {
        --border-radius: 40%;
      }
    }
  
  }
  
  .font{
      font-size: 18px;
      color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
  ion-content {
    --background: #f1f5f8;
    .slides {
      background:  rgba(65, 64, 64, 0.137);;
      border-radius: 28px 28px 0 0;
      
    }
  
    ion-card {
      width: 100%;
      box-shadow: 5px;
      border-radius: 0;
      padding: 0px;
      background:  rgba(250, 247, 247, 0.137);;
      .main {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow:  7px 7px 20px #dbdfe2, 
               -7px -7px 20px #ffffff;
              
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 50px;
        
        }
  
      }
  
      .files {
          padding-top: 0;
      }
  
    }
  
    .font{
        color: rgb(255, 255, 255);
    }
  
    .container {
      padding: 6px 20px;
      color: #000;
  
      ion-item {
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: rgb(0, 0, 0);
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
  
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(0, 0, 0, 0.66);
          }
        }
  
      }
  
      h2 {
        padding-bottom: 8px;
        float: right;
      }
  
    }
  
  }
  .avt{
      width: 62px;
  }
  
  .top{
    flex: none;
    float: none;
    padding-top: 5px;
    padding-left: 50px;
    
  }
  
  .back{
    width: 37%;
    
  }
  
  .n2{
  float: right;
  }

  .text-center{
    text-align: center;
}
  
  p{
    color: white;
  }
  
  .btn-rekap{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow:  7px 7px 20px #dbdfe2, 
         -7px -7px 20px #ffffff;
        
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    width: 30px;
  }
  
  }

  .btn-ok{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
  }