<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="n2  ">

      <ion-avatar slot="start" style="width: 75px; height: 75px;">
        <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
      </ion-avatar>
      <ion-label>
        <h3 style="color: white;">Rui Faqri</h3>
        <p style="color: white;">VIII</p>
        <p style="color: white;">Anya Geraldine</p>
      </ion-label>

    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Laporan - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;">
      <ion-col col-6>
        <div class="title-login">
          <ion-grid style="margin-top: -40px;">
            <ion-row class="ion-align-items-center">

              <ion-col size="7.5">
                <ion-item>
                  <ion-label position="stacked">Nama</ion-label>
                  <ion-input> {{laporanSiswa.name}} </ion-input>
                </ion-item>
              </ion-col>


            </ion-row>
          </ion-grid>
        </div>

        <ion-list style="background:  #f1f5f8;">
          <ion-radio-group value="biff">
            <ion-list-header style="margin-bottom: -25px;">
              Alasan
            </ion-list-header>

            <ion-item style="margin-left: 10px;">
              <ion-label>{{laporanSiswa.alasan}}</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

        <ion-item style="margin-left: 10px;">
          <ion-label position="stacked">Deskripsi</ion-label>
          <ion-textarea>{{laporanSiswa.deskripsi}}</ion-textarea>
        </ion-item>

        <ion-col size="7.5" >
          <ion-item >
            <ion-label position="stacked" style="margin-left: 10px;">Upload File</ion-label>
            <ion-input ><a href="{{laporanSiswa.reportUrl}}">Buka File</a> </ion-input>
          </ion-item>
        </ion-col>
      </ion-col>

      <ion-button class="btn-ok" (click)="ok()">OK</ion-button>
   </ion-card>



  </div>
</ion-content>