<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="n2  ">

      <img width="30px" style="margin-left: 10px;" src="assets/icon/printer.png" (click)="downloadAsPDF()" />

    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container"  id="pdfTable" #pdfTable>

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>SMPN 1 LALAPAN</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;">
      <ion-label style="margin-left: 10px;">Di akses pada : {{date | date: 'MMM, dd yyy'}}</ion-label>
      <ion-col col-12>
        <table class="table table-bordered" style="margin-left: 10px; margin-right: 10px;">
          <thead>
            <tr>
              <th>No.</th>
              <th>NIS</th>
              <th>Nama</th>
              <th>Pertemuan</th>
              <th>Kehadiran</th>
              <th>Ket.</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>1</td>
              <td>201366</td>
              <td>Ariqa Adliana Siregar</td>
              <td>14</td>
              <td>14</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2</td>
              <td>201367</td>
              <td>Indri Sakinah Isma</td>
              <td>14</td>
              <td>14</td>
              <td>-</td>
            </tr>
            <tr>
              <td>3</td>
              <td>201368</td>
              <td>Iin Agustia Sinta</td>
              <td>14</td>
              <td>13</td>
              <td>sakit:1</td>
            </tr>
            <tr>
              <td>4</td>
              <td>201369 </td>
              <td>Rui Faqri</td>
              <td>14</td>
              <td>12</td>
              <td>izin:2</td>
            </tr>
          </tbody>
        </table>
     
        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="12">
              Total : 1
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="margin-left: 10px; margin-top: 20px;">
          <p>Mata Pelajaran : {{presensiSiswa.mapel}} </p>
          <p>Kelas :  {{presensiSiswa.kelas}}</p>
          <p>Guru :  {{presensiSiswa.guru}}</p>
          <p>Jam :  {{presensiSiswa.jam}}</p>
          <p>Informasi :</p>
          <ul>
            <li>Sakit : 1</li>
            <li>Izin : 1</li>
            <li>Alpha : 0</li>
            <li>Total : 4</li>
          </ul>
        </div>
      </ion-col>
    </ion-card>



  </div>
</ion-content>