<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="n2  ">

      <ion-avatar slot="start" style="width: 75px; height: 75px;">
        <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
      </ion-avatar>
      <ion-label>
        <h3 style="color: white;">Rui Faqri</h3>
        <p style="color: white;">VIII</p>
        <p style="color: white;">Anya Geraldine</p>
      </ion-label>

    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Jadwal - Edit</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;">
      <ion-col col-6>
        <div class="title-login">
          <ion-grid style="margin-top: -40px;"  >
            <ion-row class="ion-align-items-center" style="margin-top: 20px;"  >


              <ion-col size="7.5">
                <ion-title style="margin-left: -20px; margin-bottom: 5px;">Mata Pelajaran</ion-title>
                <ion-input placeholder="Mata Pelajaran..." style="border: solid grey 1px; border-radius: 5px; height: 45px;" [(ngModel)]="jadwalSiswa.mapel" >
                </ion-input>
              </ion-col>
              <ion-col size="7.5">
                <ion-title style="margin-left: -20px; margin-bottom: 5px;">Kelas</ion-title>
                <ion-input placeholder="Kelas..." style="border: solid grey 1px; border-radius: 5px; height: 45px;"  [(ngModel)]="jadwalSiswa.kelas">
                </ion-input>
              </ion-col>
              <ion-col size="7.5">
                <ion-title style="margin-left: -20px; margin-bottom: 5px;">Jam</ion-title>
                <ion-input placeholder="Jam..." style="border: solid grey 1px; border-radius: 5px; height: 45px;" [(ngModel)]="jadwalSiswa.jam">
                </ion-input>
              </ion-col>
              <ion-col size="7.5">
                <ion-title style="margin-left: -20px; margin-bottom: 5px;">Guru</ion-title>
                <ion-input placeholder="Guru..." style="border: solid grey 1px; border-radius: 5px; height: 45px;" [(ngModel)]="jadwalSiswa.guru">
                </ion-input>
              </ion-col>

            
            </ion-row>
            <ion-button class="btn-rekap" (click)="editJadwal(id, data, jam)"> Simpan</ion-button>
          </ion-grid>
        </div>


      </ion-col>
    </ion-card>



  </div>
</ion-content>