<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()"/>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">
    </ion-avatar>
    <ion-label>
      <h3>{{user.nama}}</h3>
      <p>{{user.kelas}}</p>
      <p>{{user.walikelas}}</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding >

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Jadwal - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>
        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="6">
              
                <h4>Senin</h4>
                <ion-label>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="6">
              
              <h4>Selasa</h4>
              <ion-label>
              <h6>Kimia</h6>
              <h6>Jam 10.00 - 11.30 WIB</h6>
              <h6>Sadikun</h6>
            </ion-label>
          </ion-col>
          </ion-row>

        </ion-grid>
        <ion-grid style="margin-top: 10px;">
          <ion-row class="tabel-rekap">
           
            <ion-col size="6">
              
                <h4>Rabu</h4>
                <ion-label>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="6">
              
              <h4>Kamis</h4>
              <ion-label>
              <h6>Kimia</h6>
              <h6>Jam 10.00 - 11.30 WIB</h6>
              <h6>Sadikun</h6>
            </ion-label>
          </ion-col>
          </ion-row>

        </ion-grid>
        <ion-grid style="margin-top: 10px;">
          <ion-row class="tabel-rekap">
           
            <ion-col size="6">
              
                <h4>Jumat</h4>
                <ion-label>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="6">
              
              <h4>Sabtu</h4>
              <ion-label>
              <h6>Kimia</h6>
              <h6>Jam 10.00 - 11.30 WIB</h6>
              <h6>Sadikun</h6>
            </ion-label>
          </ion-col>
          </ion-row>

        </ion-grid>

      </ion-col>
    </ion-card>

  </div>
</ion-content>
