<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="invoice">

  <div class="container printable-content">
    <div class="printable-area" id="pdfTable" #pdfTable>
      <div class="slides">


        <div class="ion-activatable ripple-parent">
          <ion-card-header class="konten">


            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <div class="title-login">
                    <h1>Rekap Presensi</h1>
                  </div>


                </ion-col>

              </ion-row>
            </ion-grid>

          </ion-card-header>
        </div>
      </div>


      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
        <ion-col col-12>
          <ion-label>
            <p style="margin-left: 10px; color: black;">Nama : Ina Syafira</p>
            <p style="margin-left: 10px; color: black;"> NIS : 1607198026022001</p>
            <p style="margin-left: 10px; color: black;"> Kelas : VIII A</p>
          </ion-label>

          <ion-grid>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Siswa</th>
                  <th>Pertemuan</th>
                  <th>Hadir</th>
                  <th>Ket.</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ariqa Adliana Siregar</td>
                  <td>14</td>
                  <td>14</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Indri Sakinah Isma</td>
                  <td>14</td>
                  <td>14</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Iin Agustia Sinta</td>
                  <td>14</td>
                  <td>13</td>
                  <td>sakit:1</td>
                </tr>
                <tr>
                  <td>Rui Faqri</td>
                  <td>14</td>
                  <td>12</td>
                  <td>izin:2</td>
                </tr>
              </tbody>
            </table>
          </ion-grid>
        </ion-col>
      </ion-card>
    </div>
    <ion-button fill="outline" expand="block" (click)="downloadAsPDF()"> Download PDF</ion-button>
  </div>
</ion-content>