<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="dismiss()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">

          <ion-list>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Nama Lengkap</ion-label>
              <ion-input [(ngModel)]="user.nama"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">TTL</ion-label>
              <ion-input [(ngModel)]="user.ttl"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Asal Daerah</ion-label>
              <ion-input [(ngModel)]="user.asalDaerah"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Status</ion-label>
              <ion-input [(ngModel)]="user.status"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Nomer Handphone</ion-label>
              <ion-input [(ngModel)]="user.noHP"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Hobi</ion-label>
              <ion-input [(ngModel)]="user.hobi"></ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Motto Hidup</ion-label>
              <ion-input [(ngModel)]="user.mottoHidup"></ion-input>
            </ion-item>

            <ion-button fill="outline" expand="block" (click)="saveData()" [disabled]="loading"> 
              {{loading ? 'Menyimpan..':'Simpan'}}</ion-button>
        

          </ion-list>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>