ion-header {

    ion-toolbar, ion-item {
      --background:#0745A2;
      background: #0745A2;
      padding: 0 10px;
      color: white;
    }
  
    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }
    }
  
    ion-item {
      h3 {
        font-weight: 700;
        font-size: 24px;
      }
  
      p {
        font-weight: 500;
        font-size: 14px;
      }
  
      ion-avatar {
        --border-radius: 40%;
      }
    }
  
  }

  p{
    color: white;
  }
  .konten{
    
    margin-top: 10px;
}
.slides2{
  background: #C7C7C7;
  padding: 4px 10px 20px 10px;
  border-radius: 28px 28px 0 0;
  margin-top: -20px;
}
.title-login{
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  ion-content {
    --background: #f1f5f8;
 
    .slides {
      background:  rgba(65, 64, 64, 0.137);;
      border-radius: 28px 28px 0 0;
      
    }
  
    ion-card {
      width: 40%;
      box-shadow: none;
      border-radius: 14px;
      padding: 0px;
      background: rgba(255,255,255,.8);
      .main {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow:  7px 7px 20px #dbdfe2, 
               -7px -7px 20px #ffffff;
              
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 50px;
        
        }
  
      }
  
      .files {
          padding-top: 14px;
      }
  
    }

    .avatar{
      display: flex;
      align-items: center;
      justify-content: center;

    }
  
    .container {
      padding: 6px 20px;
      color: #FFFFFF;
  
      ion-item {
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: #FFFFFF;
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
  
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(255,255,255,.66);
          }
        }
  
      }
  
      h2 {
        padding-bottom: 8px;
        float: right;
      }
  
    }
  
  }
.avt{
      width: 62px;
  }

.top{
    flex: none;
    float: none;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 24px;
    
}

.menu{
  width: 20px;
  height: 20px;
  float: right;
  
}

.my-custom-menu {
  --width: 500px;
}

.n1{
  width: 90%;
  }

  .tabel-rekap{
    margin-top: -10px
  }

  .bg-ion{
    background-color: #f1f5f8
  }