<div class="login-header ion-padding">
  <img class="logo-img" src="assets/icon/tutwuri.png">
  <h1 class="bg">SMPN 1 LALAPAN</h1>
</div>




<ion-content padding>

  <div class="slides ion-margin-bottom">
    <ion-slides class="b1">

      <ion-slide>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header class="b2">


              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <div class="title-login">
                      <h1>Reset</h1>
                    </div>
                    <ion-list>

                    </ion-list><div style="float: left; margin-bottom: 5px;">
                      Reset password menggunakan :
                    </div>
                    <ion-button expand="block" fill="solid" (click)="forgetemail()" style="margin-bottom: 30px;">EMAIL</ion-button>
                    <ion-button expand="block" fill="solid" (click)="forgetphone()" >PHONE</ion-button>
                   
                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-card-header>
          </div>

        </ion-card>

      </ion-slide>

    </ion-slides>
  </div>
</ion-content>