ion-header {

    ion-toolbar, ion-item {
      --background:#0745A2; 
      background: #0745A2;
      padding: 0 10px;
      color: white;
    }
  
    ion-toolbar {
      .bordered {
        --border-radius: 10px;
        --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
      }
    }
  
    ion-item {
      h3 {
        font-weight: 700;
        font-size: 24px;
      }
  
      p {
        font-weight: 500;
        font-size: 14px;
      }
  
      ion-avatar {
        --border-radius: 40%;
      }
    }
  
  }
  
  p{
    color: white;
  }
  .konten{
    
    margin-top: 20px;
  }
  .slides2{
  background: rgba(65, 64, 64, 0.192);;
  padding: 4px 10px 20px 10px;
  border-radius: 28px 28px 0 0;
  margin-top: 20px;
  }
  
  .tabel-rekap{
    color: black;
  }
  
  .btn-ok{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  ion-content {
    --background: #f1f5f8;
  
    .slides {
      background: #f1f5f8;
      padding: 4px 10px 20px 10px;
      border-radius: 0 0 28px 28px;
      margin-top: 20px;
    }
  
    ion-card {
      width: 40%;
      box-shadow: none;
      border-radius: 14px;
      padding: 0px;
      background: rgba(255, 255, 255, 0.8);
      .main {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow:  7px 7px 20px #dbdfe2, 
               -7px -7px 20px #ffffff;
              
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 50px;
        
        }
  
      }
  
      .files {
          padding-top: 14px;
      }
  
    }
  
    .avatar{
      display: flex;
      align-items: center;
      justify-content: center;
  
    }
  
    .container {
      padding: 6px 20px;
      color: #FFFFFF;
  
      ion-item {
        --background: rgba(255,255,255,.1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: #000000;
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
  
          h4 {
            font-weight: 600;
            font-size: 16px;
          }
          h6 {
            color: rgba(255,255,255,.66);
          }
        }
  
      }
  
      h2 {
        padding-bottom: 8px;
        float: right;
      }
  
    }
  
  }
  .avt{
      width: 62px;
  }
  
  .top{
    flex: none;
    float: none;
    padding-top: 5px;
    padding-left: 50px;
    
  }