<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="12">
            <ion-label class="top">
              <h3>SMPN 1 LALAPAN</h3>
            </ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="n2" (click)="profile()">

        <ion-avatar slot="start" style="width: 75px; height: 75px;">
          <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
        </ion-avatar>
        <ion-label>
          <h3>Rui Faqri</h3>
          <p style="color: white;">VIII</p>
          <p style="color: white;">Anya Geraldine</p>
        </ion-label>

      </ion-item>
    </ion-item>

  </ion-toolbar>


</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides>

      <ion-slide>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-3>

                    <img src="assets/icon/calendar-alt-regular.png" (click)="jadwal()" class="n1" />

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>
        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-3>

                    <img src="assets/icon/calendar-check-regular.png" (click)="rekap()" class="n1" />

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-3>

                    <img src="assets/icon/bullhorn-solid.png" class="n1" (click)="report()" />

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header>


              <ion-grid>
                <ion-row>
                  <ion-col col-3>

                    <img src="assets/icon/user-check-solid.png" class="n1" (click)="presensi()" />

                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card-header>
          </div>

        </ion-card>

      </ion-slide>

    </ion-slides>
  </div>

  <div class="container">

    <div class="slides2">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login" style="font-size: 32px; margin-bottom: -30px; margin-top: -10px;">
                  <h1>Jadwal - Senin</h1>
                </div>

              </ion-col>
              
              <!-- disable the button -->
              <ion-button  color="danger" *ngIf="!buttonDisabled" (click)="disable()">
                Off
              </ion-button>

              <!-- enable the button -->
              <ion-button  color="success" *ngIf="buttonDisabled" (click)="buttonDisabled = false">
                On
              </ion-button>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>
        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
            <ion-col size="1">
              Avatar
            </ion-col>
            <ion-col size="3">
              <ion-label>
                <h4>Senin, 3 Agustus 2020</h4>
                <h6>Kimia</h6>
                <h6>Jam 10.00 - 11.30 WIB</h6>
                <h6>Sadikun</h6>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              QR Code
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-col>
    </ion-card>

  </div>

</ion-content>