<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img  src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}"> </ion-avatar>
      <ion-label>
        <h3>{{user.nama}}</h3>
        <p>{{user.nip}}</p>
      </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Presensi</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>


        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="3" class="tabel-rekap">
              Nama
            </ion-col>
            <ion-col size="3" class="tabel-rekap">
             Tanggal
            </ion-col>
            <ion-col size="3" class="tabel-rekap">
              Status
            </ion-col>
            <ion-col size="3" class="tabel-rekap">
             Jam
            </ion-col>
          </ion-row> 
        </ion-grid>
        <ion-grid *ngFor="let n of jadwalSiswa; let i = index">
          <ion-row class="tabel-rekap">
           
            <ion-col size="3" class="tabel-rekap">
             {{n.name}}
            </ion-col>
            <ion-col size="3"  >
              <ion-datetime displayFormat="DD/MM/YY" [(ngModel)]="n.date" placeholder="Jam" disabled>{{n.date}}</ion-datetime> 
            </ion-col>
            <ion-col size="3" class="tabel-rekap">
              {{n.status}}
            </ion-col>
            <ion-col size="3" >
              <ion-datetime displayFormat="hh:mm" [(ngModel)]="n.jam" placeholder="Jam" disabled>{{n.jam}}</ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-button class="btn-ok" (click)="kirimPresensi()">Selesai</ion-button>
    </ion-card>

  </div>
</ion-content>