<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">
    </ion-avatar>
    <ion-label>
      <h3>{{user.nama}}</h3>
      <p>{{user.kelas}}</p>
      <p>{{user.walikelas}}</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Laporan</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>
        <ion-col size="7.5">
          <ion-item style="margin-left: 10px; margin-right: 10px; margin-top: -10px;">
            <ion-label position="floating">Nama</ion-label>
            <ion-input [(ngModel)]="data.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-item style="margin-left: 10px; margin-right: 10px; margin-top: 35px;">
          <ion-label>Alasan</ion-label>
          <ion-select placeholder="Pilih" [(ngModel)]="data.alasan">
            <ion-select-option value="sakit">Sakit</ion-select-option>
            <ion-select-option value="kegiatan">Kegiatan luar sekolah</ion-select-option>
            <ion-select-option value="lupa presensi">Lupa presensi</ion-select-option>
            <ion-select-option value="lainnya">Lainnya</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item style="margin-left: 10px; margin-right: 10px;">
          <ion-label position="floating">Deskripsi</ion-label>
          <ion-textarea [(ngModel)]="data.deskripsi"></ion-textarea>
        </ion-item>



        <ion-button expand="block" fill="outline" class="btn-ok" (click)="takePicture()" style="margin-top: 10px;">
          {{updatingProfileImage ? 'Tunggu..':'Foto Surat'}}</ion-button>
        <ion-button expand="block" fill="outline" class="btn-ok" (click)="kirimLaporan()">Kirim</ion-button>

      </ion-col>


    </ion-card>

  </div>
</ion-content>