<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="dismiss()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">

          <div class="text-center ion-padding" *ngIf="user != undefined">


            <img style="border-radius: 20px;"
              src="{{user.profileUrl == undefined ? './assets/icon/favicon.png':user.profileUrl.url}}">



            <h3 style="color: black; margin-top: 10px;">{{user.nama}}</h3>
            <p style="color: black;">{{userData.email}}</p>
            <ion-button fill="outline" size="small" (click)="takePicture()">
              {{updatingProfileImage ? 'Tunggu..':'Ganti Foto'}}</ion-button>
          </div>

          <ion-list>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Nama Lengkap</ion-label>
              <ion-input [(ngModel)]="user.name">{{user.nama}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">TTL</ion-label>
              <ion-input [(ngModel)]="user.bio">{{user.ttl}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Asal Daerah</ion-label>
              <ion-input [(ngModel)]="user.address">{{user.asalDaerah}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Kelas</ion-label>
              <ion-input [(ngModel)]="user.address">{{user.kelas}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Wali Kelas</ion-label>
              <ion-input [(ngModel)]="user.address">{{user.walikelas}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Nomer Handphone</ion-label>
              <ion-input [(ngModel)]="user.phone">{{user.noHP}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Hobi</ion-label>
              <ion-input [(ngModel)]="user.address">{{user.hobi}}</ion-input>
            </ion-item>
            <ion-item style="margin-left: 20px; margin-right: 20px;">
              <ion-label position="stacked">Motto Hidup</ion-label>
              <ion-input [(ngModel)]="user.address">{{user.mottoHidup}}</ion-input>
            </ion-item>

            <ion-button fill="outline" expand="block" (click)="editProfile()"> Edit Profile</ion-button>
            <ion-button fill="outline" expand="block" (click)="logout()"> Log out</ion-button>
        

          </ion-list>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>