<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="invoice" >

  <div class="container printable-content" id="pdfTable" #pdfTable > 
    <div class="printable-area" id="printable-area">
    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Presensi</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
        <ion-col col-12 >
          <ion-label>
            <p style="margin-left: 10px; color: black;">Nama : Rui Faqri</p>
            <p style="margin-left: 10px; color: black;" > NIS : 201365</p>
            <p style="margin-left: 10px; color: black;" > Kelas : VIII A</p>
            <p style="margin-left: 10px; color: black;">Wali Kelas : Anya Geraldine</p>
          </ion-label>
    
          <ion-grid>
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>Mata Pelajaran</th>
                  <th>Jam</th>
                  <th>guru</th>
                </tr>
              </thead>
              <tbody  *ngFor="let n of jadwalSiswa; let i = index">
                <tr>
                  <td>{{n.mapel}}</td>
                  <td>{{n.jam}}</td>
                  <td>{{n.guru}}</td>
                </tr>
              </tbody>
            </table>
          </ion-grid>
          <ion-button fill="outline" expand="block"(click)="downloadAsPDF()"> Download PDF</ion-button>
        </ion-col>
      </ion-card>


    </div>
  </div>
</ion-content>

