<div class="login-header ion-padding">
  <img class="logo-img" src="assets/icon/tutwuri.png">
  <h1 class="bg">SMPN 1 LALAPAN</h1>
</div>




<ion-content padding>

  <div class="slides ion-margin-bottom">
    <ion-slides class="b1">

      <ion-slide>

        <ion-card>
          <div class="ion-activatable ripple-parent">
            <ion-card-header class="b2">


              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <div class="title-login">
                      <h1>Reset</h1>
                    </div>
                    <ion-list>
                      <ion-item>
                        <ion-label position="stacked">Masukkan Password Baru :</ion-label>
                        <ion-input></ion-input>
                      </ion-item>
                      <div style="float: left; margin-top: 10px;">
                        Kekuatan : NaN
                      </div>
                    </ion-list>
                    <ion-button expand="block" fill="solid" (click)="backlogin()">kirim</ion-button>
                   
                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-card-header>
          </div>

        </ion-card>

      </ion-slide>

    </ion-slides>
  </div>
</ion-content>