<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="n2  ">

      <ion-avatar slot="start" style="width: 75px; height: 75px;">
        <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
      </ion-avatar>
      <ion-label>
        <h3 style="color: white;">Rui Faqri</h3>
        <p style="color: white;">VIII</p>
        <p style="color: white;">Anya Geraldine</p>
      </ion-label>

    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Jadwal - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;" >
      <ion-col col-6>
        <div class="title-login">
          <ion-grid style="margin-top: -40px;">
            <ion-row class="ion-align-items-center" style="margin-top: 20px;">

              <ion-col size="10">

                <ion-searchbar mode="android" animated placeholder="Subjek/Nama/Mapel/Guru" debounce=1000
                  (ionInput)="filterList($event)"></ion-searchbar>

              </ion-col>

              <ion-button class="btn-rekap"> <img src="assets/icon/add (1).png" (click)="tambahData()" /></ion-button>

            </ion-row>
          </ion-grid>
        </div>

        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="2">
              Id Jadwal
            </ion-col>
            <ion-col size="2">
              Mata Pelajaran
            </ion-col>
            <ion-col size="2">
              Kelas
            </ion-col>
            <ion-col size="2">
              Jam
            </ion-col>
            <ion-col size="2">
              Guru
            </ion-col>
            <ion-col size="2">
              Action
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid  *ngFor="let n of mapelList; let i = index">
          <ion-row class="tabel-rekap">
            <ion-col size="2">
              {{n.id}}
            </ion-col>
            <ion-col size="2">
              <ion-label>
                <p>{{ n.mapel }}</p>
            
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label>
            
                <p>{{ n.kelas }}</p>
          
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label>
            
                <p>{{ n.jam }}</p>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label>
           
                <p>{{ n.guru }}</p>
               
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <img width="20px" src="assets/icon/garbage.png" (click)="hapusJadwal(n.id)" />
              <img width="20px" style="margin-left: 10px;" src="assets/icon/edit.png" routerLink="/jadwal-edit/{{n.id}}" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-card>
  </div>

</ion-content>