.login-header{
  background: #f1f5f8;

}

.login-header {
  position: relative;
  background: #f1f5f8;
  border-radius: 0em;
}

.login-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--theme-color);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}

.logo-img{
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

[heading-column-lr]{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
}

[big-heading]{
  font-family: "Arial" !important;
  font-size: 30px !important;
  color: var(--theme-black);
}

[transparant]{
  --background: transparant;
}

ion-input{
  --color: #000;
  --padding-bottom: 15px;
  --padding-size: 15px;
  --padding-start: 5px;
  font-size: 15px;
  text-align: 1px;
  padding-left: 10px !important;
}

[icon-small]{
  width: 30px;;
}

ion-item{
  --highlight-color-focused:transparant;
  --highlight-height: 0;
  --highlight-color-invalid: #000;
  --highlight-color-valid: #ddd;
  --min-height: 65px;
  --padding-start: 0;
}

[linespace]{
  height: 30px;
}

.bg{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.title-login{
  color: #000;
}

.btn-login{
  color: #3670e5;
}

.b1{
width: 40%;
}



ion-header {

  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 24px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }

}

ion-content {
  --background: #f1f5f8;
  .slides {
    background: #f1f5f8;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
    
  }

  ion-card {
    width: 100%;
    box-shadow: 5px;
    border-radius: 14px;
    padding: 0px;
    background: rgba(255,255,255,.8);
    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow:  7px 7px 20px #dbdfe2, 
             -7px -7px 20px #ffffff;
            
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;
      
      }

    }

    .files {
        padding-top: 14px;
    }

  }

  .container {
    padding: 6px 20px;
    color: #FFFFFF;

    ion-item {
      --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255,255,255,.66);
        }
      }

    }

    h2 {
      padding-bottom: 8px;
      float: right;
    }

  }

}
.avt{
    width: 62px;
}

.top{
  flex: none;
  float: none;
  padding-top: 5px;
  padding-left: 50px;
  
}
